<!doctype html>
<html lang="en">
    <head>
        <title>Create Category</title>
    </head>
    <header>
        <nav>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'home' %}"> Receipts </a></li>
            <li><a href="{% url 'category_list' %}"> Expense Categories</a></li>
            <li><a href="{% url 'account_list' %}"> Accounts</a></li>
        </nav>
    </header>
    <body>
        <main>
            <div>
                <h1> Create Category </h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                  </form>
            </div>
        </main>
    </body>
</html>
