<!doctype html>
<html lang="en">
    <head>
        <title>My Categories</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'home' %}"> Receipts </a></li>
                    <li><a href="{% url 'account_list' %}"> Accounts</a></li>
                    <li><a href="{% url 'create_category' %}"> Create Category</a></li>
                    {% else %}
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <h1> My Categories </h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number or receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.items.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
