

<!doctype html>
<html lang="en">
    <head>
        <title>To Do List</title>
    </head>
    <header>
        <nav>
            <li><a href="{% url 'signup' %}">SignUp</a></li>
        </nav>
    </header>
    <body>
        <main>
            <div>
                <h1> Login </h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Login</button>
                  </form>
            </div>
        </main>
    </body>
</html>
